# ─── Base de Datos ───────────────────────────────────
DB_NAME=parqueaderos
DB_USER=postgres
DB_PASSWORD=Usco2026*
DB_PORT=5432

# ─── API ─────────────────────────────────────────────
API_PORT=8080

# ─── JWT ─────────────────────────────────────────────
JWT_SECRET=c2VjcmV0S2V5UGFycXVlYWRlcm9zQXBpMjAyNVN1cGVyU2VjcmV0S2V5TG9uZ0Vub3VnaA==
JWT_ACCESS_EXP=3600000
JWT_REFRESH_EXP=604800000

# ─── Resend Email ────────────────────────────────────
RESEND_API_KEY=re_fhTccJmR_GnMkmNXk9TKUftkuXdW7nXTZ
RESEND_FROM=onboarding@resend.dev
