spring:
  application:
    name: parqueaderos-api
  
  datasource:
    url: jdbc:postgresql://database-1.c5qc4qo884xb.us-east-2.rds.amazonaws.com:5432/parqueaderos?ssl=true&sslmode=require
    username: postgres
    password: 'jesusADOLFO2355'
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
